@import "reset.css";
@import "css/variable.css";
@import "css/navbar.css";
@import "css/home.css";
@import "css/section_common.css";
@import "css/skill.css";
@import "css/work.css";
@import "css/testimonials.css";
@import "css/contact.css";

/*
@import "";

font-family: 'Open Sans', sans-serif;
font-family: Georgia, "Times New Roman", Times, serif;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: default;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 60px;
  height: 60px;
  font-size: var(--font-large);
  color: var(--color-yellow);
  background-color: var(--color-orange);
  border-radius: 50%;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .project.invisible {
    display: none;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
