@import "reset.css";
@import "variable.css";
/*
@import "";
@import "";
@import "";

font-family: 'Open Sans', sans-serif;
*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar__logo__favicon {
  width: 30px;
  height: 30px;
}
